.button__submit {
  width: 358px;
  height: 50px;
  margin: 1.2rem 36px 2.2818rem;
  background-color: black;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #FFF;
}
.button__submit:hover {
  opacity: .8;
}
