@import url(./_margins/photos_margins.css);

.photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.125rem 1fr 1.125rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1.1667rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.1667rem 1.125rem;
}


@media (max-width: 700px) {
  .photos {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 450px) {
  .photos {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr 1.6667rem 1fr 1.6667rem 1fr 1.6667rem 1fr 1.6667rem 1fr 1.6667rem 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1.6667rem;
  }
}
