.button_close-item {
  background-image: url(../../../images/button/close-icon.png);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  top: -37px;
  right: -37px;
}

.button_close-item:hover {
  opacity: .6;
}

@media (max-width: 550px) {
  .button_close-item {
    background-color: rgba(0, 0, 0, 1);
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 450px) {
  .button_close-item {
    z-index: 1;
  }
}
@media (max-width: 400px) {
  .button_close-item {
    width: 20px;
    height: 20px;
  }
}
